SampleBackend.BusinessLayer/Connected Services/FlightRouteService/FlightRouteService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/FlightRouteService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/FlightRouteService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="FlightRouteRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="Destination" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Origin" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FlightRouteRequest" nillable="true" type="tns:FlightRouteRequest" />
  <xs:complexType name="FlightRouteResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="Destination" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Distance" type="xs:decimal" />
      <xs:element minOccurs="0" name="EstimatedLengthInHrs" type="xs:decimal" />
      <xs:element minOccurs="0" name="Id" type="xs:long" />
      <xs:element minOccurs="0" name="Origin" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StopOverAt" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Success" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FlightRouteResponse" nillable="true" type="tns:FlightRouteResponse" />
</xs:schema>