SampleBackend.BusinessLayer/Connected Services/FlightRouteService/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/FlightRouteService" />
  <xs:element name="GetFlightRoute">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/FlightRouteService" minOccurs="0" name="flightRouteRequest" nillable="true" type="q1:FlightRouteRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFlightRouteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/FlightRouteService" minOccurs="0" name="GetFlightRouteResult" nillable="true" type="q2:FlightRouteResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>